# Python
__pycache__/
*.py[cod]
*$py.class
.venv/
venv/
env/

# Ortam Değişkenleri ve Gizli Dosyalar
.env
*.pem
*.key
*.cert

# Veritabanı ve Medya Depoları
*.sqlite3
*.db
uploads/*
!uploads/.gitkeep


# İşletim Sistemi / Editör
.DS_Store
Thumbs.db
.vscode/
.idea/